<div id="article-<%= article.id %>" class="article-preview">
  <div class="article-meta">
    <%= link_to image_tag("demo-avatar.png", alt: "man icon"), article.author %>
    <div class="info">
      <%= link_to article.author.name, article.author, class: "author" %>
      <span class="date">January 20th</span>
    </div>
    <button class="btn btn-outline-primary btn-sm pull-xs-right">
      <i class="ion-heart"></i> 29
    </button>
  </div>
  <%= link_to article, class: "preview-link" do %>
    <h1><%= article.title %></h1>
    <p><%= article.description %></p>
    <span>Read more...</span>
    <ul class="tag-list">
      <li class="tag-default tag-pill tag-outline">realworld</li>
      <li class="tag-default tag-pill tag-outline">implementations</li>
    </ul>
  <% end %>
</div>
