<div class="auth-page">
  <div class="container page">
    <div class="row">
      <div class="col-md-6 offset-md-3 col-xs-12">
        <h1 class="text-xs-center">Sign up</h1>
        <p class="text-xs-center">
          <%= link_to "Have an account?", "#" %>
        </p>

        <%= form_with(model: @author) do |f| %>
          <%= f.label :name %>
          <%= f.text_field :name, class: "form-control form-control-lg", placeholder: "Username"%>

          <%= f.label :email %>
          <%= f.label :email, class: "form-control form-control-lg", placeholder: "Email"%>

          <%= f.label :password %>
          <%= f.label :password, class: "form-control form-control-lg", placeholder: "Password"%>

          <%= f.submit "Sign up", class: "btn btn-lg btn-primary pull-xs-right" %>
        <% end %>
      </div>
    </div>
  </div>
</div>