<nav class="navbar navbar-light">
  <div class="container">
    <%= link_to "conduit", root_path, class: "navbar-brand"%>
    <ul class="nav navbar-nav pull-xs-right">
      <li class="nav-item">
        <!-- Add "active" class when you're on that page" -->
        <%= link_to "Home", root_path, class: "nav-link active" %>
      </li>
      <% if logged_in? %>
        <li class="nav-item">
          <%= link_to new_article_path, class: "nav-link" do %>
            <i class="ion-compose"></i>&nbsp;New Article
          <% end %>
        </li>
        <li class="nav-item">
          <%= link_to settings_path, class: "nav-link" do %>
            <i class="ion-gear-a"></i>&nbsp;Settings
          <% end %>
        </li>
        <li class="nav-item">
          <%= link_to "Sign out", logout_path, class: "nav-link", data: { "turbo-method": :delete } %>
        </li>
        <li class="nav-item">
          <%= link_to current_author, class: "nav-link" do %>
            <%= image_tag "Qr71crq.jpg", class: "user-pic" %>Eric Simons
          <% end %>
        </li>
      <% else %>
        <li class="nav-item">
          <%= link_to "Sign in", login_path, class: "nav-link" %>
        </li>
        <li class="nav-item">
          <%= link_to "Sign up", signup_path, class: "nav-link" %>
        </li>
      <% end %>
    </ul>
  </div>
</nav>